[submodule "RE-UE4SS"]
	path = RE-UE4SS
	url = https://github.com/UE4SS-RE/RE-UE4SS
[submodule "Archipelago"]
	path = Archipelago
	url = https://github.com/JaredWeakStrike/Archipelago.git
	branch = Octopath2
[submodule "Octopath-2-Archipelago/depen/json"]
	path = Octopath-2-Archipelago/depen/json
	url = https://github.com/nlohmann/json.git
